{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript
        {:git/url "https://github.com/LeifAndersen/clojurescript"
         :sha "9fb671e3093a006415281ef52c219900f20eb0e5"}
        ;; {:local/root "/path/to/clojurescript"} ;<-- For debugging only
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/tools.reader {:mvn/version "1.3.3"}
        reagent/reagent {:mvn/version "1.1.0"
                         :exclusions [cljsjs/react cljsjs/react-dom]}
        com.cognitect/transit-cljs {:mvn/version "0.8.264"}
        alandipert/storage-atom {:mvn/version "2.0.1"}
        binaryage/oops {:mvn/version "0.7.1"}
        com.bhauman/figwheel-main {:mvn/version "0.2.14"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
 :aliases {:fig {:main-opts ["-m" "figwheel.main" "--build" "dev" "--repl"]}
           :test {:main-opts ["-m" "figwheel.main"
                              "--compile-opts" "test.cljs.edn"
                              "--main" "interactive-syntax.core-test"]}
           :package {:main-opts ["-m" "figwheel.main" "--build-once" "prod"]}}
 :paths ["src" "test" "target" "resources" "env"]}
