^{:auto-bundle :webpack
  :watch-dirs ["src" "test" "env/dev"]
  :auto-testing true}
{:main interactive-syntax.dev
 ;;:deps-command "npm"
 :bundle-cmd
 {:none ["npx" "webpack" "--mode=development" "./src/js/bundle.js" :output-to
         "--output-path" :final-output-dir
         "--output-filename" :final-output-filename]
  :default ["npx" "webpack" "--mode=production" "./src/js/bundle.js" :output-to
            "--output-path" :final-output-dir
            "--output-filename" :final-output-filename]}}

