^{:auto-bundle :webpack
  :launch-js "touch"
  ;:launch-js ["chromium-browser" "--headless" "--repl" "--disable-gpu" :open-url]
  }
{:main interactive-syntax.core-test ;interactive-syntax.dev
 ;;:deps-command "npm"
 :bundle-cmd
 {:none ["npx" "webpack" "--mode=development" "src/js/bundle.js" :output-to
         "--output-path" :final-output-dir
         "--output-filename" :final-output-filename]
  :default ["npx" "webpack" "--mode=production" "src/js/bundle.js" :output-to
            "--output-path" :final-output-dir
            "--output-filename" :final-output-filename]}}

