h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.react-codemirror2 {
  height: 100%;
}
.CodeMirror {
  height: 100% !important;
}

#app, body, html {
  height: 100%;
  margin: 0;
}

.dropdown-menu {
    position: absolute;
    max-height: 80vh;
    overflow-y: auto;
}

.nav-tabs {
    flex: 0 1 auto;
}

.tab-content {
    flex: 1 1 auto;
}

.tab-pane {
    height: 100%;
}
